.DS_Store

node_modules
.env
dist
tsconfig.tsbuildinfo

mobile/local.properties
mobile/.idea/caches
mobile/.idea/libraries
mobile/.idea/modules.xml
mobile/.idea/workspace.xml
mobile/.idea/navEditor.xml
mobile/.idea/assetWizardSettings.xml
mobile/.idea/shelf
mobile/.idea/workspace.xml
mobile/build
mobile/app/build
mobile/captures
mobile/*.iml
mobile/.gradle
mobile/.externalNativeBuild
mobile/.cxx

stalkerd/target
stalkerd/.password