.DS_Store

node_modules
.env
dist
tsconfig.tsbuildinfo

mobile/local.properties
mobile/build
mobile/app/build
mobile/captures
mobile/*.iml
mobile/.gradle
mobile/.externalNativeBuild
mobile/.cxx

mobile/.idea/**/workspace.xml
mobile/.idea/**/tasks.xml
mobile/.idea/**/usage.statistics.xml
mobile/.idea/**/dictionaries
mobile/.idea/**/shelf
mobile/.idea/**/contentModel.xml
mobile/.idea/**/dataSources/
mobile/.idea/**/dataSources.ids
mobile/.idea/**/dataSources.local.xml
mobile/.idea/**/sqlDataSources.xml
mobile/.idea/**/dynamic.xml
mobile/.idea/**/uiDesigner.xml
mobile/.idea/**/dbnavigator.xml
mobile/.idea/**/gradle.xml
mobile/.idea/**/libraries
mobile/.idea/modules.xml
mobile/.idea/*.iml
mobile/.idea/assetWizardSettings.xml
mobile/.idea/modules

stalkerd/target
stalkerd/.password